---
import '../styles/global.css';

import { Image } from 'astro:assets';

import name from '../assets/home/name.png';

import annex from '../assets/film/annex.jpg';
import beach from '../assets/film/beach.jpg';
import bench from '../assets/film/bench.jpg';
import bikes from '../assets/film/bikes.jpg';
import cat from '../assets/film/cat.jpg';
import dinner from '../assets/film/dinner.jpg';
import golden from '../assets/film/golden.jpg';
import grammy from '../assets/film/grammy.jpg';
import hotdog from '../assets/film/hotdog.jpg';
import house from '../assets/film/house.jpg';
import kitchen from '../assets/film/kitchen.jpg';
import leaves from '../assets/film/leaves.jpg';
import lightpost from '../assets/film/lightpost.jpg';
import market from '../assets/film/market.jpg';
import mountain from '../assets/film/mountain.jpg';
import bedroom from '../assets/film/mtl_night.jpg';
import md from '../assets/film/museum_dark.jpg';
import ml from '../assets/film/museum_light.jpg';
import dorm from '../assets/film/nc_dorm.jpg';
import stairs from '../assets/film/noah_stairs.jpg';
import office from '../assets/film/office.jpg';
import dukeonetree from '../assets/film/one_tree.jpg';
import pond from '../assets/film/pond.jpg';
import rocks from '../assets/film/rocks.jpg';
import sink from '../assets/film/sink.jpg';
import street from '../assets/film/street.jpg';
import sunset from '../assets/film/sunset.jpg';
import tea from '../assets/film/tea.jpg';
import tofu from '../assets/film/tofu.jpg';
import treewater from '../assets/film/tree_water.jpg';
import duketrees from '../assets/film/trees.jpg';
import trinkets from '../assets/film/trinkets.jpg';
import village from '../assets/film/village.jpg';
import water from '../assets/film/water.jpg';
import wedding from '../assets/film/wedding.jpg';
import zoe from '../assets/film/zoe.jpg';

const pageTitle = "photography";
---

<nav class = "top_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional&nbsp;art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>


<html lang = "en"> 
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    </head>

    <style>

        /* NAVIGATION BUTTONS */
        .top_navs {
            /* placing navigation buttons where desired */
            position: absolute;
            display: flex;
            flex-direction: row; 
            top: 8%; 

            /* spacing between buttons and of the lettering */
            font-size: 12px;
            gap: 5rem;  
            letter-spacing: 4.5px;   
            
            /* to prevent buttons from being underlined or changing color */
            text-decoration: none;
        }

        .top_navs a{
            text-decoration: none;
            color: rgb(175, 159, 148);
        }

		/* CHANGING STYLE FOR THE IMAGES SO THEY FIT ON WHOLE SCREEN */
		.full_gallery {
			padding: 0rem 3rem;
			max-width: 1200px;
			margin: 0 auto;
			margin-top: 4%;
		}

		.row {
			display: flex;
			justify-content: center;
			gap: 1rem;
			margin-bottom: 1rem;
			flex-wrap: nowrap;
		}

    </style>


	<body>

		<Image
			src = {name}
			alt = "name logo"
			class = 'name_image'
		/>
		
		<div class="full_gallery">

			<div class="row">
				<Image src = {lightpost} alt = "poster" class = "image" height = {280} quality={100} />
				<Image src = {hotdog} alt = "poster" class = "image" height = {280} quality={100} />
				<Image src = {leaves} alt = "poster" class = "image" height = {280} quality={100} />
			</div>

			<div class="row">
				<Image src = {annex} alt = "poster" class = "image" height = {424} quality={100} />
				<Image src = {trinkets} alt = "poster" class = "image" height = {424} quality={100} />
			</div>

			<div class="row">
				<Image src = {grammy} alt = "poster" class = "image" height = {930} quality={100} />
			</div>

			<div class="row">
				<Image src = {house} alt = "poster" class = "image" height = {424} quality={100} />
				<Image src = {bedroom} alt = "poster" class = "image" height = {424} quality={100} />
			</div>

			<div class="row">
				<Image src = {dinner} alt = "poster" class = "image" height = {865} quality={100} />
			</div>

			<div class="row">
				<Image src = {water} alt = "poster" class = "image" height = {281} quality={100} />
				<Image src = {wedding} alt = "poster" class = "image" height = {281} quality={100} />
				<Image src = {stairs} alt = "poster" class = "image" height = {281} quality={100} />
			</div>

			<div class="row">
				<Image src = {dukeonetree} alt = "poster" class = "image" height = {434} quality={100} />
				<Image src = {pond} alt = "poster" class = "image" height = {434} quality={100} />
			</div>

			<div class="row">
				<Image src = {zoe} alt = "poster" class = "image" height = {858} quality={100} />
			</div>

			<div class="row">
				<Image src = {md} alt = "poster" class = "image" height = {424} quality={100} />
				<Image src = {ml} alt = "poster" class = "image" height = {424} quality={100} />
			</div>

			<div class="row">
				<Image src = {sink} alt = "poster" class = "image" height = {275} quality={100} />
				<Image src = {market} alt = "poster" class = "image" height = {275} quality={100} />
				<Image src = {tofu} alt = "poster" class = "image" height = {275} quality={100} />
			</div>

			<div class="row">
				<Image src = {duketrees} alt = "poster" class = "image" height = {860} quality={100} />
			</div>

			<div class="row">
				<Image src = {rocks} alt = "poster" class = "image" height = {425} quality={100} />
				<Image src = {kitchen} alt = "poster" class = "image" height = {425} quality={100} />
			</div>

			<div class="row">
				<Image src = {village} alt = "poster" class = "image" height = {285} quality={100} />
				<Image src = {bench} alt = "poster" class = "image" height = {285} quality={100} />
				<Image src = {dorm} alt = "poster" class = "image" height = {285} quality={100} />
			</div>

			<div class="row">
				<Image src = {office} alt = "poster" class = "image" height = {400} quality={100} />
				<Image src = {cat} alt = "poster" class = "image" height = {400} quality={100} />
			</div>

			<div class="row">
				<Image src = {treewater} alt = "poster" class = "image" height = {856} quality={100} />
			</div>

			<div class="row">
				<Image src = {golden} alt = "poster" class = "image" height = {402} quality={100} />
				<Image src = {street} alt = "poster" class = "image" height = {402} quality={100} />
			</div>

			<div class="row">
				<Image src = {bikes} alt = "poster" class = "image" height = {854} quality={100} />
			</div>

			<div class="row">
				<Image src = {beach} alt = "poster" class = "image" height = {279} quality={100} />
				<Image src = {tea} alt = "poster" class = "image" height = {279} quality={100} />
				<Image src = {sunset} alt = "poster" class = "image" height = {279} quality={100} />
			</div>

			<div class="row">
				<Image src = {mountain} alt = "poster" class = "image" height = {820} quality={100} />
			</div>

		</div>
	</body>

</html>