---
import '../styles/global.css';

import { Image } from 'astro:assets';
import name from '../assets/home/name.png';
import first from '../assets/research/first.jpg';
import poster from '../assets/research/poster.jpg';
import eyelink from '../assets/research/eyelink.jpg';

const pageTitle = "research";
---

<nav class = "top_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional&nbsp;art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>


<html lang = "en"> 
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    </head>

    <style>

        /* NAVIGATION BUTTONS */
        .top_navs {
            /* placing navigation buttons where desired */
            position: absolute;
            display: flex;
            flex-direction: row; 

            top: 8%; 

            /* spacing between buttons and of the lettering */
            font-size: 12px;
            gap: 5rem;  
            letter-spacing: 4.5px;   
            
            /* to prevent buttons from being underlined or changing color */
            text-decoration: none;
        }

        .top_navs a {
            text-decoration: none;
            color: rgb(175, 159, 148);
        }

        a {
            text-decoration: none;      
            color: rgb(175, 159, 148);           
        }


        h1 {
            line-height: 0;
            margin-bottom: 2.2rem;
        }

        i {
            display: block;
            font-size: 10px;
            letter-spacing: 0.5rem;
        }


        .m2b3 {
            display: flex;
            align-items: flex-start;  
            gap: 3rem;                
        }

        .m2b3_img {
            margin-top: 6.5rem;
        }

        .text {
            flex:1;
        }


        .crookimage {
            margin-right: 1.1rem;
        }

        
        .two_columns {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 4rem;                       
        }

    </style>
 

    <body>

        <Image
		src = {name}
		alt = "name logo"
		class = 'name_image'
		/>

        <p>
            I've had the opportunity to explore several areas of research dedicated to better understanding various 
            cognitive processes and developing methods to better address human/public health concerns.  These experiences
            have helped solidify my interest in projects which utilize computational methods and models to explore human nature
            and our evolving relationship with machines.
            <br><br>
            Download my <a href="/pub_assets/cv.pdf" target = "_blank">CV</a> to see an overview of my work experience and credentials.
        </p>

        <br><br>

        <div class="m2b3">
            <div class="text">

                <h1>m2b3 lab</h1>

                <p>
                    <i>psychophysics</i>
                    <br>
                    I'm currently completing my honors research in the Mind, Machines, Brain, Body, and Behavior (m2b3) Lab under the 
                    supervision of Dr. Krishna.  Through psychophysics experiments which involve eye tracking during visual search tasks, 
                    we investigate evidence of trans-saccadic information transfer and the mechanisms underlying choice.  
                    In time, we aim to develop a novel model of decision that can account for these observed phenomena.
                    <br><br>
                    <a href = "https://m2b3.github.io/">m2b3 website</a>
                </p>
    
            </div>
            <Image src={eyelink} alt="eyelink" class="m2b3_img" height={300} quality={100}/>
        </div>


        <br><br>


        <h1>crook lab</h1>
        <p>
            <i>biological engineering</i>
            <br>
            We explored a designer plasmid and recombination-based system of genome editing in Enterobacter ludwigii, with the 
            longterm goal of ultimately engineering this bacterial species to possess greater probiotic/antimicrobal characteristics.  
            I developed a data analysis pipeline for identifying candidate locations for gene insertion and determining 
            potential downstream effects of insertions.  This work streamlined our subsequent wet lab experiments, enabling us to 
            focus on three specific target locations.
            <br><br>
            If you're interested in further details regarding this project, you can view the 
            summatory slide deck and poster below as well as the   
            <a href="https://github.com/annahuntisaak/ncsu_2024.git">GitHub repository</a> for the genome analysis pipeline.
        </p>

        <br>

        <a href="/pub_assets/presentation.pdf" target="_blank">
            <Image
			src = {first}
			alt = "first slide of PDF"
			class = "crookimage"
			height = {235} 
			quality={100}
		    />
        </a>

        <a href="/pub_assets/poster.jpg" target="_blank">
            <Image
			src = {poster}
			alt = "poster"
			class = "crookimage"
			height = {235} 
			quality={100}
		    />
        </a>

        <br><br><br><br>

        <div class="two_columns">
            <div class="column">
                <h1>dahan lab</h1>
                <p>
                    <i>psycholinguistics</i>
                    <br>
                    We assessed conversational response patterns of participants engaged in a strategic, cooperation-based task to 
                    explore internal representations of implicit information and goals held by their task partner and/or shared 
                    between them. I contributed to the processing, computational analysis, and theorhetical interpretation of 
                    auditory linguistic data, utilizing ELAN annotation software and R scripting.
                    <br><br>
                    <a href="/pub_assets/r_script.R" download="conversational_data_processing.R">
                        Portion of R script for organizing annotated data
                    </a>
                    
                </p>
            </div>

            <div class="column">
                <h1>schapiro lab</h1>
                <p>
                    <i>computational neuroscience</i>
                    <br>
                    I gained foundational knowledge of conducting human research, from experimental design (including use of PsychoPy to 
                    design visual stimuli) to participant recruitment and data collection.  This work centered on the processes of 
                    learning, memory, and the integration of new information with prior knowledge.
                </p>
            </div>

          </div>
        
    </body>

</html>



