---
import '../styles/global.css';

import { Image } from 'astro:assets';
import name from '../assets/home/name.png';
import driveway from '../assets/traditional/driveway.jpeg'
import hand from '../assets/traditional/hand.jpeg';
import les from '../assets/traditional/les.jpeg';
import line from '../assets/traditional/line.jpeg';
import maine from '../assets/traditional/maine.jpg';
import pools from '../assets/traditional/pools.jpg';
import still from '../assets/traditional/still.jpeg';

const pageTitle = "traditional art";
---

<nav class = "top_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional&nbsp;art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<style>

        /* NAVIGATION BUTTONS */
        .top_navs {
            /* placing navigation buttons where desired */
            position: absolute;
            display: flex;
            flex-direction: row; 
            top: 8%; 

            /* spacing between buttons and of the lettering */
            font-size: 12px;
            gap: 5rem;  
            letter-spacing: 4.5px;   
            
            /* to prevent buttons from being underlined or changing color */
            text-decoration: none;
        }

        .top_navs a{
            text-decoration: none;
            color: rgb(175, 159, 148);
		}


		/* DISPLAYING IMAGES */
		.gallery {
			/*
			display: grid;
			gap: 4rem;
			*/

			padding: 0rem 3rem;
			max-width: 1200px;
			margin: 0 auto;
		
		}

		.row {
			display: flex;
			justify-content: center;
			gap: 2rem;
			margin-bottom: 3rem;
			flex-wrap: nowrap;
		}


		/* IMAGE HOVERING */
		.container {
			position: relative;
			display: inline-block;
		}

		.image {
			opacity: 1;
			display: block;
			transition: .5s ease;
			backface-visibility: hidden;
		}

		.middle {
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%)
		}

		.container:hover .image {
			opacity: 0.3;
		}

		.container:hover .middle {
			opacity: 1;
		}

		.text {
			color: inherit;
			font-size: inherit;
			padding: 16px 32px;
			text-align: center;
		}

	</style>


	<body>		
		
		<Image
			src = {name}
			alt = "name logo"
			class = 'name_image'
		/>

		<div class="gallery">

			<div class="row">
				<div class="container">
					<Image src={les} alt="leslie" class="image" width={900}/>
					<div class="middle">
					  <div class="text">cotton linter<br>acrylic</div>
					</div>
				</div>
			</div>
			

			<div class="row">
				<div class="container">
					<Image src={line} alt="line" class="image" width={900}/>
					<div class="middle">
						<div class="text">gouache<br>colored pencil<br>chalk pastel</div>
					</div>
				</div>	
			</div>


			<div class="row">
				<div class="container">
					<Image src={driveway} alt="front driveway" class="image" height={382}/>
					<div class="middle">
						<div class="text">chalk pastel<br>gouache</div>
					</div>
				</div>	

				<div class="container">
					<Image src={pools} alt="philly litho print" class="image" height={382}/>
					<div class="middle">
						<div class="text">lithographic ink</div>
					</div>
				</div>	
			</div>


			<div class="row">
				<div class="container">
					<Image src={hand} alt="hand" class="image" width={900}/>
					<div class="middle">
						<div class="text">colored pencil<br>gouache</div>
					</div>
				</div>	
			</div>


			<div class="row">
				<div class="container">
					<Image src={still} alt="still life" class="image" height={575} quality={100}/>
					<div class="middle">
						<div class="text">chalk pastel</div>
					</div>
				</div>	

				<div class="container">
					<Image src={maine} alt="maine stamps" class="image" height={575}/>
					<div class="middle">
						<div class="text">lioncuts<br>acrylic</div>
					</div>
				</div>	


			</div>

		</div>

	</body>

</html>